pytest # Фреймворк для написания и запуска тестов на Python
selenium # Библиотека для автоматизации действий в браузере.
webdriver-manager # Менеджер драйверов браузеров. Определяет, скачисает, запускает драйвер для установленного браузера
pytest-selenium # Плагин связывает pytest и selenium
pytest-html # Генератор HTML-отчетов

